@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./_custom.scss";

$font: 'Roboto', sans-serif;

$c-light-blue: #0285C9;
$c-mid-blue: #041F8F;
$c-dark-blue: #303D63;
$c-white: #fff;
$c-ultra-light-grey: #F6F9FC;
$c-mid-grey: #84888C;
$c-dark-grey: #2F2F2F;

$media-query-desktop-low: 1024px;
$media-query-desktop-hd: 1336px; 

$container-mobile: 100%;
$container-desktop-low: 1000px;
$container-desktop-hd: 1290px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: $font;
}

.o-container{
    width: $container-mobile;
    padding: 0 15px;
}

header{
    .header-content{
        display: flex;
        flex-direction: column;
        margin: 43px 0 56px 0;
    }
    .header-img-container{
        margin-bottom: 32px;
        img{
            width: 100%;
            height: auto;
        }
    }
    .header-text-container{
        width: 100%;
        h1{
            color: $c-mid-blue;
            font-size: 30px;
            line-height: 39px;
            font-family: $font;

            margin-bottom: 8px;
            span{
                font-weight: bold;
                display: block;
            }
        }
        p{
            color: $c-mid-grey;
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            font-family: $font;
            margin-bottom: 32px;
        }
        a{
            display: block;
            width: 100%;
            max-width: 400px;
            height: 51px;
            padding: 16px;
            background: $c-light-blue;
            border-radius: 5px;
            margin-bottom: 8px;

            color: $c-white;
            font-size: 16px;
            line-height: 19px;
            font-weight: bold;
            font-family: $font;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
        }
        h4{
            color: $c-light-blue;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            span{
                font-weight: bold;
            }
        }
    }
}

.section2{
    background: $c-light-blue;
    width: 100%;
    padding: 60px 0 0 0;

    .section2-text-container{
        margin-bottom: 68px;
        h2{
            font-family: $font;
            font-size: 28px;
            line-height: 40px;
            color: $c-white;
            margin-bottom: 8px;
            span{
                font-weight: bold;
            }
        }
        p {
            font-family: $font;
            font-size: 16px;
            line-height: 22px;
            color: $c-white;
            margin-bottom: 24px;
        }
        a{
            display: block;
            width: 100%;
            max-width: 400px;
            height: 51px;
            padding: 16px;
            background: $c-mid-blue;
            border-radius: 5px;

            color: $c-white;
            font-size: 16px;
            line-height: 19px;
            font-weight: bold;
            font-family: $font;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
        }
    }
    .section2-img-container{
        img{
            width: 100%;
            height: auto;
        }
    }
}

.section3{
    background: $c-ultra-light-grey;
    padding: 60px 0;

    .section3-header{
        text-align: center;
        margin-bottom: 32px;
        h2{
            font-family: $font;
            font-size: 28px;
            line-height: 36.4px;
            color: $c-mid-blue;
            margin-bottom: 8px;
            span{
                font-weight: bold;
            }
        }
        p{
            font-family: $font;
            font-size: 16px;
            line-height: 22.4px;
            color: $c-mid-grey;
            margin-bottom: 8px;
        }
    }
    #section3-slider{
        .carousel-item{
            text-align: center;
            height: 330px;
        }
        .carousel-item-img{
            width: 154px;
            height: 100px;
            margin-bottom: 32px;
        }
        h3{
            max-width: 280px;
            font-family: $font;
            font-size: 22px;
            line-height: 26.4px;
            color: $c-dark-blue;
            margin: 0 auto 16px auto;
        }
        p{
            font-family: $font;
            font-size: 16px;
            line-height: 22.4px;
            color: $c-mid-grey;
        }
        .carousel-controls{
            display: flex;
            justify-content: center;
            margin-top: 32px;
        }
    }

}

.section4{
    background: $c-light-blue;
    padding: 46px 0 60px 0;

    .section4-header{
        h2{
            color: $c-white;
            font-family: $font;
            font-size: 28px;
            line-height: 36.4px;
            font-weight: bold;
            margin-bottom: 16px;
        }
        p{
            color: $c-white;
            font-family: $font;
            font-size: 16px;
            line-height: 22.4px;
            margin-bottom: 32px;
        }
    }
    .section4-calculator{
        position:relative;
        background: $c-white;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
        padding: 32px 26px 40px 26px;
    }
    .section4-calculator__title{
        h3{
            color: $c-light-blue;
            font-family: $font;
            font-size: 22px;
            line-height: 26.4px;
            margin-bottom: 8px;
            font-weight: 500;
        }
        h4{
            color: $c-mid-grey;
            font-family: $font;
            font-size: 16px;
            line-height: 22.4px;
            margin-bottom: 32px;
        }
    }
    .section4-calculator__range{
        height: 75px;
        width: 100%;

        .slider-value{
            position: relative;
            width: 100%;
            span{
                position: absolute;
                color: #fff;
                font-family: "Roboto",sans-serif;
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                height: 41.75px;
                width: 46.92px;
                z-index: 2;
                transform: translateX(-50%) scale(0);
                top: -6px;
            }
            span:after{
                content: "";
                background: url('https://monique-costa.github.io/teste-martin-luz/dir/02d493fcd7fbe9f4b453.png');
                height: 41.75px;
                width: 47.92px;
                display: block;
                position: absolute;
                top: -9px;
                z-index: -1;
                left: -23%;
            }
        }
        .field{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            input{
                -webkit-appearance: none;
                height: 2px;
                width: 100%;
                background: $c-mid-grey;
                border-radius: 4px;
                outline: none;
                border: none;
            }
            input::-webkit-slider-thumb, input::-moz-range-thumb{
                -webkit-appearance: none;
                width: 12px;
                height: 12px;
                background: $c-white;
                border: 4px solid $c-light-blue;
                border-radius: 50%;
            }
            .value-left, .value-right{
                position: absolute;
                top: 40px;
                color: $c-dark-grey;
                font-family: $font;
                font-size: 16px;
                line-height: 18.75px;
            }
            .value-left{
                left: 0;
            }
            .value-right{
                right: 0;
            }
        }
    }
    .show-value{
        transform: translateX(-50%) scale(1) !important;
    }
    .section4-calculator__label{
        color: $c-dark-grey;
        font-family: $font;
        font-size: 16px;
        line-height: 22.4px;
        margin-bottom: 24px;
    }
    #section4-calculator__input{
        border: 2px solid $c-mid-grey;
        border-radius: 4px;
        width: 100%;
        height: 48px;
        padding: 16px 11px;
        margin-bottom: 32px;

        color: $c-mid-grey;
        font-family: $font;
        font-size: 16px;
        line-height: 22.4px;
        font-weight: 500;
    }
    .section4-calculator__button{
        width: 100%;
        background: $c-mid-blue;
        height: 51px;
        padding: 16px 0;
        border-radius: 5px;
        border: none;

        color: $c-white;
        text-transform: uppercase;
        font-family: $font;
        font-size: 16px;
        line-height: 19px;
    }
    .section4-modal-result{
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background: $c-white;
        border-radius: 10px;
        padding: 46.75px 38.75px 56px 38.75px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
        transform: scale(0);
        z-index: 4;
    }
    .show-modal{
        transform: scale(1); 
    }
    .section4-modal__close{
        width: 100%;
        text-align: right;
        img{
            width: 10.5px;
            height: 10.5px;
            cursor: pointer;
        }
    }
    .section4-modal__text{
        padding: 0 5px;
        text-align: center;
        h2{
            color: $c-dark-grey;
            font-family: $font;
            font-size: 22px;
            font-weight: 500;
            line-height: 26px;
            margin-bottom: 16px;
        }
        h3{
            color: $c-light-blue;
            font-family: $font;
            font-size: 22px;
            font-weight: 500;
            line-height: 26px;
            margin-bottom: 8px;
            span{
                font-size: 32px;
                font-weight: 700;
                line-height: 42px;
            }
        }
        p{
            color: $c-dark-grey;
            font-family: $font;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 40px;
        }
        a{
            display: block;
            width: 100%;
            background: $c-mid-blue;
            height: 51px;
            padding: 16px 0;
            border-radius: 5px;
            border: none;
    
            color: $c-white;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            font-family: $font;
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.section5{
    padding: 60px 0;

    .section5-content{
        h2{
            color: $c-mid-blue;
            font-family: $font;
            font-size: 28px;
            font-weight: 700;
            line-height: 36px;
            margin-bottom: 32px;
        }
    }
    .section5-post-list{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .section5-post{
        width: 100%;
        height: 300px;
        border-radius: 6px;
        position: relative;
        overflow: hidden;
        padding: 0 26px 39px 26px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 30px;
        img{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
            width: 100%;
            height: auto;
            min-height: 300px;
        }
        h3{
            color: $c-white;
            font-family: $font;
            font-size: 22px;
            font-weight: 500;
            line-height: 26px;
            margin-bottom: 6px;
        }
        p{
            color: $c-white;
            font-family: $font;
            font-size: 16px;
            font-weight: 400;
            line-height: 22.4px;
            margin: 0;
        }
    }
    .section5-post:last-child{
        margin-bottom: 0;
    }
    .section5-post-gradient{
        background-image: linear-gradient(rgba(0, 26, 77, 0), rgb(0, 26, 77));
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
}

footer{
    .footer-social{
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-bottom: 32px;
        img{
            width: 32px;
            height: 32px;
        }
    }
    .footer-copyright{
        margin-bottom: 36px;
        text-align: center;
        p{
            color: $c-mid-grey;
            font-family: $font;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }
    }
}

@media all and (min-width: $media-query-desktop-low){
    .o-container{
        width: $container-desktop-low;
        margin: 0 auto;
        padding: 0;
    }

    header{
        .header-content{
            flex-direction: row;
            justify-content: space-between;
            margin: 80px 0 228px 0;
        }

        .header-img-container{
            order: 2;
            margin-bottom: 0;
            img{
                width: 500px;
                height: auto;
            }
        }

        .header-text-container{
            text-align: left;
            margin-top: 25px;
            h1{
                font-size: 42px;
                line-height: 54.6px;
                margin-bottom: 16px;
            }
            p{
                font-size: 16px;
                line-height: 22.4px;
                margin-bottom: 32px;
            }
            a{
                width: 256px;
                font-size: 16px;
                line-height: 18.75px;
                margin-bottom: 8px;
            }
            h4{
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 8px;
                text-align: left;
            }
        }
    }

    .section2{
        background: $c-white;
        padding: 0 0 150px 0;

        .section2-content{
            background: $c-light-blue;
            border-radius: 15px;
            height: 500px;
            width: 100%;
            padding: 56px 0 95px 110px;
            display: flex;
        }
        .section2-text-container{
            width: 391px;
            h2{
                font-size: 32px;
                line-height: 41.6px;
                margin-bottom: 16px;
            }
            p{
                font-size: 16px;
                line-height: 22.4px;
                margin-bottom: 24px;
            }
            a{
                width: 256px;
                font-size: 16px;
                line-height: 18.75px;
                margin-bottom: 0;
            }
        }
        .section2-img-container{
            position: relative;
            height: 100%;
            width: 547px;
            img{
                position: absolute;
                bottom: -95px;
                right: 4px;
                height: 628px;
                width: auto;
            }
        }
    }

    .section3{
        padding: 80px 0 84px 0;

        .section3-header{
            margin-bottom: 88px;
            h2{
                font-size: 32px;
                line-height: 41.6px;
                margin-bottom: 6px;
            }
            p{
                font-size: 16px;
                line-height: 22.4px;
                margin-bottom: 88px;
                width: 638px;
                margin: 0 auto;
            }
        }
        #section3-slider{
            .carousel-item{
                height: 365px;
                width: 300px;
            }
            .carousel-item-img{
                margin-bottom: 42px;
            }
            h3{
                margin: 0 auto 20px auto;
            }
            .carousel-controls{
                display: flex;
                justify-content: center;
                margin-top: 32px;
            }
        }        
    }

    .section4{
        background: $c-white;
        padding: 218px 0 210px 0;

        .section4-content{
            background: $c-light-blue;
            width: 100%;
            height: 395px;
            padding: 104px 0 141px 110px;
            border-radius: 15px;
            position: relative;
        }
        .section4-header{
            h2{
                font-size: 32px;
                line-height: 41.6px;
                margin-bottom: 16px;
            }
            p{
                font-size: 16px;
                line-height: 22.4px;
                margin-bottom: 0;
                width: 360px;
            }
        }
        .section4-calculator{
            position: absolute;
            top: -70px;
            width: 470px;
            height: 523px;
            right: 48px;
            padding: 44px 48px 57px 48px;
        }
        .section4-calculator__title{
            h3{
                font-size: 32px;
                line-height: 41.6px;
                margin-bottom: 16px;
            }
            h4{
                font-size: 16px;
                line-height: 22.4px;
                margin-bottom: 30px;
            }
        }
        .section4-calculator__range{
            margin-bottom: 45px;
        }
        #section4-calculator__input{
            margin-bottom: 46px;
        }
        .section4-calculator__button{
            width: 151px;
        }
    }

    .section5{
        padding: 0 0 73px 0;
        .section5-content{
            h2{
                font-size: 32px;
                line-height: 41.6px;
                margin-bottom: 36px;
            }
        }
        .section5-post-list{
            display: flex;
            gap: 30px;
        }
        .section5-post{
            width: 410px;
            height: 410px;
            margin-bottom: 0;
            img{
                width: auto;
                height: 100%;
            }
            h3{
                font-size: 22px;
                line-height: 26.4px;
                margin-bottom: 6px;
            }
            h4{
                font-size: 16px;
                line-height: 22.4px;
            }
        }
    }

    footer{
        .footer-content{
            display: flex;
            justify-content: space-between;
        }
        .footer-social{
            order: 2;
        }
    }
}

@media all and (min-width: $media-query-desktop-hd){
    .o-container{
        width: $container-desktop-hd;
    }

    header{

        .header-img-container{
            img{
                width: 595px;
                margin-right: 65px;
            }
        }

        .header-text-container{
            margin-top: 75px;
            width: 505px;
        }
    }

    .section2{

        .section2-content{
            justify-content: space-between;
        }
        .section2-img-container{
            img{
                right: 36px;
            }
        }
    }

    .section4{
        .section4-calculator{
            width: 520px;
            right: 107px;
            padding: 44px 54px 57px 54px;
        }
    }
}